<div class="container">
  <h1>
    {{'app.chart-board' | translate}}
  </h1>

  <div class="row">
    <div class="form-group col-md-6">
      <select id="typeInput"
              class="form-control"
              name="type"
              [(ngModel)]="chartType" #type="ngModel">
        <option value="BDC" selected>{{'chart-board.burndownChart' | translate}}</option>
        <option value="SIR">{{'chart-board.sprintIssueRatio' | translate}}</option>
      </select>
    </div>
  </div>

  <app-burndown-chart *ngIf="chartType == 'BDC'"></app-burndown-chart>
  <app-sprint-issue-ratio *ngIf="chartType == 'SIR'"></app-sprint-issue-ratio>

  <!-- Todo sbs evt. tooltip mit beschreibung über chart -->
</div>
