<div class="modal-header">
  <h4 class="modal-title">
    {{'new-sprint.title' | translate}}
  </h4>

  <button type="button"
          class="close"
          (click)="cancel()"> <!--TODO sbs not visible???!!! -->
  </button>
</div>

<div class="container">
  <form #modalForm="ngForm">
    <div class="row">
      <div class="form-group col-md-12">
        <label>{{'new-sprint.current' | translate}}:<br>
          {{sprintService.getCurrent() | sprintLabel}}</label>
        <br>
        <label>{{'new-sprint.latest' | translate}}:<br>
          {{sprintService.getLatest() | sprintLabel}}</label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label id="nameLabel" for="name">{{'new-sprint.name' | translate}}</label>
        <input id="name"
               class="form-control"
               name="name"
               type="text"
               [(ngModel)]="sprint.name"
               required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label id="beginLabel" for="begin">{{'new-sprint.begin' | translate}}</label>
        <input id="begin"
               class="form-control"
               name="begin"
               type="date"
               [(ngModel)]="sprint.begin"
               required>
      </div>
      <div class="form-group col-md-6">
        <label id="endLabel" for="end">{{'new-sprint.end' | translate}}</label>
        <input id="end"
               class="form-control"
               name="end"
               type="date"
               [(ngModel)]="sprint.end"
               required>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          (click)="save()"
          [disabled]="!modalForm.form.valid">
    {{'new-sprint.save' | translate }}
  </button>
  <button type="button"
          class="btn btn-light"
          (click)="cancel()">
    {{'new-sprint.cancel' | translate }}
  </button>
</div>
