<div class="container">

  <h1>
    Issue-Board
  </h1>

  <form>
    <div class="row">
      <div class="form-group col-md-6">
        <label id="titleLabel" for="titleInput">{{'issue-board.title' | translate }}</label>
        <input id="titleInput" class="form-control" name="titleInput" type="text" placeholder="{{'issue-board.title.placeholder' | translate }}" maxlength="100">
      </div>
      <div class="form-group col-md-6">
        <label id="assigneeLabel" for="assigneeInput">{{'issue-board.assignee' | translate }}</label>
        <select id="assigneeInput" class="form-control" name="assigneeInput"><!--TODO use datalist (Dropdown+)-->
          <option selected>{{'issue-board.assignee.placeholder' | translate}}</option>
          <option>{{'issue-board.assignee.aa' | translate}}</option>
          <option>{{'issue-board.assignee.bb' | translate}}</option>
          <option>{{'issue-board.assignee.sb' | translate}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="descriptionLabel" for="descriptionInput">{{'issue-board.description' | translate }}</label>
        <input id="descriptionInput" class="form-control" name="descriptionInput" type="text" placeholder="{{'issue-board.description.placeholder' | translate }}" maxlength="2000">
        <small id="descriptionHelp" class="form-text text-muted">{{'issue-board.description.help' | translate }}</small>
      </div>
      <div class="form-group col-md-6">
        <label id="sprintLabel" for="sprintInput">{{'issue-board.sprint' | translate }}</label>
        <select id="sprintInput" class="form-control" name="sprintInput"><!--TODO use datalist (Dropdown+)-->
          <option selected>{{'issue-board.sprint.placeholder' | translate}}</option>
          <option>{{'issue-board.sprint.0' | translate}}</option>
          <option>{{'issue-board.sprint.1' | translate}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="typeLabel" for="typeInput">{{'issue-board.type' | translate}}</label>
        <select id="typeInput" class="form-control" name="typeInput">
          <option selected>{{'issue-board.type.placeholder' | translate}}</option>
          <option>{{'issue-board.type.story' | translate}}</option>
          <option>{{'issue-board.type.bug' | translate}}</option>
          <option>{{'issue-board.type.task' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="dueDateLabel" for="dueDateInput">{{'issue-board.dueDate' | translate}}</label>
        <input id="dueDateInput" class="form-control" name="dueDateInput" type="date">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="priorityLabel" for="priorityInput">{{'issue-board.priority' | translate}}</label>
        <select id="priorityInput" class="form-control" name="priorityInput">
          <option selected>{{'issue-board.priority.placeholder' | translate}}</option>
          <option>{{'issue-board.priority.blocker' | translate}}</option>
          <option>{{'issue-board.priority.high' | translate}}</option>
          <option>{{'issue-board.priority.medium' | translate}}</option>
          <option>{{'issue-board.priority.low' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="estimatedLabel" for="estimatedInput">{{'issue-board.estimated' | translate}}</label>
        <input id="estimatedInput" class="form-control" name="estimatedInput" type="number" min="0">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="stateLabel" for="stateInput">{{'issue-board.state' | translate}}</label>
        <select id="stateInput" class="form-control" name="stateInput">
          <option selected>{{'issue-board.state.placeholder' | translate}}</option>
          <option>{{'issue-board.state.open' | translate}}</option>
          <option>{{'issue-board.state.inwork' | translate}}</option>
          <option>{{'issue-board.state.testing' | translate}}</option>
          <option>{{'issue-board.state.done' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="elapsedLabel" for="elapsedInput">{{'issue-board.elapsed' | translate}}</label>
        <input id="elapsedInput" class="form-control" name="elapsedInput" type="number" min="0">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="resolutionLabel" for="resolutionInput">{{'issue-board.resolution' | translate}}</label>
        <select id="resolutionInput" class="form-control" name="resolutionInput">
          <option selected>{{'issue-board.resolution.placeholder' | translate}}</option>
          <option>{{'issue-board.resolution.unresolved' | translate}}</option>
          <option>{{'issue-board.resolution.fixed' | translate}}</option>
          <option>{{'issue-board.resolution.wontfix' | translate}}</option>
          <option>{{'issue-board.resolution.duplicate' | translate}}</option>
          <option>{{'issue-board.resolution.incomplete' | translate}}</option>
        </select>
      </div>
    </div>


    <button type="submit" class="btn btn-primary" routerLink="/sprint-backlog">{{'issue-board.buttonSave' | translate }}</button>
    <button type="submit" class="btn btn-light">{{'issue-board.buttonCancel' | translate }}</button>

    <div class="alert alert-success" hidden="true"><!--TODO show/hide depending on validation-->
      A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" hidden="true">
      A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" hidden="true">
      A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" hidden="true">
      A simple info alert—check it out!
    </div>
  </form>

</div>
