<div class="container">
  <h1>
    Issue-Board
  </h1>

  <form (ngSubmit)="onSave()" #issueForm="ngForm" novalidate>
    <div class="row">
      <div class="form-group col-md-6">
        <label id="titleLabel" for="titleInput">{{'issue-board.title' | translate }}</label>
        <input id="titleInput"
               class="form-control"
               name="title"
               type="text"
               placeholder="{{'issue-board.title.placeholder' | translate }}"
               required
               maxlength="30"
               [(ngModel)]="currentIssue.title" #title="ngModel">
                <div [hidden]="title.valid || title.pristine"
                     class="alert alert-danger">
                    {{'commons.validation.field.required' | translate }}
                </div>
      </div>
      <div class="form-group col-md-6">
        <label id="sprintLabel" for="sprintInput">{{'issue-board.sprint' | translate }}</label>
        <select id="sprintInput"
                class="form-control"
                name="sprint"><!--TODO use datalist (Dropdown+)-->
          <option value="" disabled selected>{{'issue-board.sprint.placeholder' | translate}}</option>
          <option>{{'issue-board.sprint.0' | translate}}</option>
          <option>{{'issue-board.sprint.1' | translate}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label id="descriptionLabel" for="descriptionInput">{{'issue-board.description' | translate }}</label>
        <textarea id="descriptionInput"
               class="form-control"
               name="description"
               type="text"
               placeholder="{{'issue-board.description.placeholder' | translate }}"
                  rows="3"
                  required
               maxlength="2000"
               [(ngModel)]="currentIssue.description" #description="ngModel">
               <div [hidden]="description.valid || description.pristine"
                    class="alert alert-danger">
                    {{'commons.validation.field.required' | translate }}
               </div>
        </textarea>
        <small id="descriptionHelp"
               class="form-text text-muted">{{'issue-board.description.help' | translate }}
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="typeLabel" for="typeInput">{{'issue-board.type' | translate}}</label>
        <select id="typeInput"
                class="form-control"
                name="type"
                required
                [(ngModel)]="currentIssue.type" #type="ngModel">
          <option value="" disabled selected>{{'issue-board.type.placeholder' | translate}}</option>
          <option value="S">{{'issue-board.type.story' | translate}}</option><!--TODO How to use enum directly-->
          <option value="B">{{'issue-board.type.bug' | translate}}</option>
          <option value="T">{{'issue-board.type.task' | translate}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label id="assigneeLabel" for="assigneeInput">{{'issue-board.assignee' | translate }}</label>
        <select id="assigneeInput"
                class="form-control"
                name="assignee"><!--TODO use datalist (Dropdown+)-->
          <option value="" disabled selected>{{'issue-board.assignee.placeholder' | translate}}</option>
          <option>{{'issue-board.assignee.aa' | translate}}</option>
          <option>{{'issue-board.assignee.bb' | translate}}</option>
          <option>{{'issue-board.assignee.sb' | translate}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="priorityLabel" for="priorityInput">{{'issue-board.priority' | translate}}</label>
        <select id="priorityInput"
                class="form-control"
                name="priority"
                [(ngModel)]="currentIssue.priority" #priority="ngModel">
          <option value="" disabled selected>{{'issue-board.priority.placeholder' | translate}}</option>
          <option value="1">{{'issue-board.priority.blocker' | translate}}</option>
          <option value="2">{{'issue-board.priority.high' | translate}}</option>
          <option value="3">{{'issue-board.priority.medium' | translate}}</option>
          <option value="4">{{'issue-board.priority.low' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="dueDateLabel" for="dueDateInput">{{'issue-board.dueDate' | translate}}</label>
        <input id="dueDateInput"
               class="form-control"
               name="dueDate"
               type="date"
               [(ngModel)]="currentIssue.dueDate" #dueDate="ngModel">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="stateLabel" for="stateInput">{{'issue-board.state' | translate}}</label>
        <select id="stateInput"
                class="form-control"
                name="state"
                [(ngModel)]="currentIssue.state" #state="ngModel">
          <option value="" disabled selected>{{'issue-board.state.placeholder' | translate}}</option>
          <option value="O">{{'issue-board.state.open' | translate}}</option>
          <option value="W">{{'issue-board.state.inwork' | translate}}</option>
          <option value="T">{{'issue-board.state.intest' | translate}}</option>
          <option value="D">{{'issue-board.state.done' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="estimatedLabel" for="estimatedInput">{{'issue-board.estimated' | translate}}</label>
        <input id="estimatedInput"
               class="form-control"
               name="estimated"
               type="number"
               min="0"
               [(ngModel)]="currentIssue.estimated" #estimated="ngModel">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="resolutionLabel" for="resolutionInput">{{'issue-board.resolution' | translate}}</label>
        <select id="resolutionInput"
                class="form-control"
                name="resolution">
          <option value="" disabled selected>{{'issue-board.resolution.placeholder' | translate}}</option>
          <option>{{'issue-board.resolution.unresolved' | translate}}</option>
          <option>{{'issue-board.resolution.fixed' | translate}}</option>
          <option>{{'issue-board.resolution.wontfix' | translate}}</option>
          <option>{{'issue-board.resolution.duplicate' | translate}}</option>
          <option>{{'issue-board.resolution.incomplete' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="elapsedLabel" for="elapsedInput">{{'issue-board.elapsed' | translate}}</label>
        <input id="elapsedInput"
               class="form-control"
               name="elapsed"
               type="number"
               min="0">
      </div>
    </div>

    <button type="submit"
            class="btn btn-primary"
            (click)="onSave()"><!-- TODO [disabled]="!issueForm.form.valid">-->
            {{'issue-board.buttonSave' | translate }}
    </button>
    <button type="submit"
            class="btn btn-light"
            (click)="onCancel()">
            {{'issue-board.buttonCancel' | translate }}
    </button>
    <br/>{{currentIssue | json}} <!--TODO remove-->
  </form>

</div>
