<div class="container">
  <h1>
    {{'app.issue-board' | translate}}
  </h1>

  <form (ngSubmit)="onSave()" #issueForm="ngForm" novalidate>
    <div class="row">
      <div class="form-group col-md-6">
        <label id="titleLabel" for="titleInput">{{'issue-board.title' | translate }}</label>
        <input id="titleInput"
               class="form-control"
               name="title"
               type="text"
               placeholder="{{'issue-board.title.placeholder' | translate }}"
               required
               mixlength="3"
               maxlength="30"
               [(ngModel)]="currentIssue.title" #title="ngModel">
                    <div *ngIf="title.invalid && (title.dirty || title.touched)"
                         class="alert alert-danger">
                            <small *ngIf="title.hasError('required')">
                              {{'commons.validation.field.required' | translate }}
                            </small>
                            <small *ngIf="title.hasError('minlength')">
                              {{'commons.validation.field.minlength' | translate }}
                            </small>
                            <small *ngIf="title.hasError('maxlength')">
                              {{'commons.validation.field.maxlength' | translate }}
                            </small>
                    </div>
                    <!--TODO sbs interpolation of params. e.g. number of char-->
                    <!--TODO sbs min/max validation doesn't work-->
      </div>
      <div class="form-group col-md-6">
        <label id="sprintLabel" for="sprintInput">{{'issue-board.sprint' | translate }}</label>
        <select id="sprintInput"
                class="form-control"
                name="sprint"
                [(ngModel)]="currentIssue.sprintId"
                [disabled]="issueService.isMutationIssueAllowed(currentIssue)">
          <option value="" disabled selected>{{'issue-board.sprint.placeholder' | translate}}</option>
          <option *ngFor="let sprint of sprintService.getAll()" [ngValue]="sprint.id">
            {{sprint.name}} ({{sprint.begin | date:"dd.MM.yyyy"}} - {{sprint.end | date:"dd.MM.yyyy"}})
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label id="descriptionLabel" for="descriptionInput">{{'issue-board.description' | translate }}</label>
        <textarea id="descriptionInput"
               class="form-control"
               name="description"
               type="text"
               placeholder="{{'issue-board.description.placeholder' | translate }}"
                  rows="3"
                  required
               maxlength="2000"
               [(ngModel)]="currentIssue.description" #description="ngModel">
               <div [hidden]="description.valid || description.pristine"
                    class="alert alert-danger">
                    {{'commons.validation.field.required' | translate }}
               </div>
        </textarea>
        <small id="descriptionHelp"
               class="form-text text-muted">{{'issue-board.description.help' | translate }}
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="typeLabel" for="typeInput">{{'issue-board.type' | translate}}</label>
        <select id="typeInput"
                class="form-control"
                name="type"
                required
                [(ngModel)]="currentIssue.type" #type="ngModel">
          <option value="" disabled selected>{{'issue-board.type.placeholder' | translate}}</option>
          <option value="{{issueTypes.story}}">{{'issue-board.type.story' | translate}}</option>
          <option value="{{issueTypes.bug}}">{{'issue-board.type.bug' | translate}}</option>
          <option value="{{issueTypes.task}}">{{'issue-board.type.task' | translate}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label id="assigneeLabel" for="assigneeInput">{{'issue-board.assignee' | translate }}</label>
        <select id="assigneeInput"
                class="form-control"
                name="assignee"
                [(ngModel)]="currentIssue.assigneeId">
          <option value="" disabled selected>{{'issue-board.assignee.placeholder' | translate}}</option>
          <option *ngFor="let assignee of assigneeService.getAll()" [ngValue]="assignee.id">
            {{assignee.nickname}}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="priorityLabel" for="priorityInput">{{'issue-board.priority' | translate}}</label>
        <select id="priorityInput"
                class="form-control"
                name="priority"
                [(ngModel)]="currentIssue.priority" #priority="ngModel">
          <option value="" disabled selected>{{'issue-board.priority.placeholder' | translate}}</option>
          <option value="{{issuePriorities.blocker}}">{{'issue-board.priority.blocker' | translate}}</option>
          <option value="{{issuePriorities.high}}">{{'issue-board.priority.high' | translate}}</option>
          <option value="{{issuePriorities.medium}}">{{'issue-board.priority.medium' | translate}}</option>
          <option value="{{issuePriorities.low}}">{{'issue-board.priority.low' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="dueDateLabel" for="dueDateInput">{{'issue-board.dueDate' | translate}}</label>
        <input id="dueDateInput"
               class="form-control"
               name="dueDate"
               type="date"
               [(ngModel)]="currentIssue.dueDate" #dueDate="ngModel">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="stateLabel" for="stateInput">{{'issue-board.state' | translate}}</label>
        <select id="stateInput"
                class="form-control"
                name="state"
                [(ngModel)]="currentIssue.state" #state="ngModel">
          <option value="" disabled selected>{{'issue-board.state.placeholder' | translate}}</option>
          <option value="{{issueStates.open}}">{{'issue-board.state.open' | translate}}</option>
          <option value="{{issueStates.inwork}}">{{'issue-board.state.inwork' | translate}}</option>
          <option value="{{issueStates.intest}}">{{'issue-board.state.intest' | translate}}</option>
          <option value="{{issueStates.done}}">{{'issue-board.state.done' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="estimatedLabel" for="estimatedInput">{{'issue-board.estimated' | translate}}</label>
        <input id="estimatedInput"
               class="form-control"
               name="estimated"
               type="number"
               min="0"
               [(ngModel)]="currentIssue.estimated" #estimated="ngModel">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="resolutionLabel" for="resolutionInput">{{'issue-board.resolution' | translate}}</label>
        <select id="resolutionInput"
                class="form-control"
                name="resolution"
                [(ngModel)]="currentIssue.resolution" #priority="ngModel">
          <option value="" disabled selected>{{'issue-board.resolution.placeholder' | translate}}</option>
          <option value="{{issueResolutions.unresolved}}">{{'issue-board.resolution.unresolved' | translate}}</option>
          <option value="{{issueResolutions.fixed}}">{{'issue-board.resolution.fixed' | translate}}</option>
          <option value="{{issueResolutions.wontfix}}">{{'issue-board.resolution.wontfix' | translate}}</option>
          <option value="{{issueResolutions.duplicate}}">{{'issue-board.resolution.duplicate' | translate}}</option>
          <option value="{{issueResolutions.incomplete}}">{{'issue-board.resolution.incomplete' | translate}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label id="elapsedLabel" for="elapsedInput">{{'issue-board.elapsed' | translate}}</label>
        <input id="elapsedInput"
               class="form-control"
               name="elapsed"
               type="number"
               min="0"
               [(ngModel)]="currentIssue.elapsed" #elapsed="ngModel">
      </div>
    </div>

    <button type="button"
            class="btn btn-primary"
            (click)="onSave()"
            [disabled]="!issueForm.form.valid">
            {{'issue-board.buttonSave' | translate }}
    </button>
    <button type="button"
            class="btn btn-light"
            routerLink="/sprint-backlog/"
            (click)="onCancel()">
            {{'issue-board.buttonCancel' | translate }}
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="onDelete()"
            routerLink="/sprint-backlog/"
            [hidden]="!issueService.isDeletionIssueAllowed(currentIssue)">
      {{'issue-board.buttonDelete' | translate }}
    </button>
  </form>
  {{ currentIssue | json }}

</div>
