div {
  .card {
    margin: 1rem;
    background-color: var(--color-card-blue);
    list-style-type: none;
    cursor: pointer;
  }
  .card-img-avatar {
    width: 30%;
  }
  .card-img-type {
    width: 10%;
    position: absolute;
    right: 20%;
  }
  .card-img-priority {
    width: 10%;
    position: absolute;
    right: 5%;
  }
  .card-img-subtask {
    width: 10%;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
  span.card-text {
    color: var(--color-white);
  }
  .filter-img-avatar {
    margin: 0.5rem;
    cursor: pointer;
    @media (max-width: 767px) {
      width: 10%;
    }
    @media (min-width: 768px) {
      width: 5%;
    }
  }
}

// Desktop Swimmlanes auch aussen
@media (min-width: 1260px) {
  #swimmlane-open, #swimmlane-inwork, #swimmlane-intest, #swimmlane-done {
    border-right: ridge var(--color-black);
  }
  #swimmlane-open {
    border-left: ridge var(--color-black);
  }
}

// bis iPad Pro keine äusseren Swimmlanes
@media (max-width: 1259px) {
  #swimmlane-open, #swimmlane-inwork, #swimmlane-intest {
    border-right: ridge var(--color-black);
  }
}

// für Mobile keine Swimmlanes
@media (max-width: 767px) {
  #swimmlane-open, #swimmlane-inwork, #swimmlane-intest {
    border-right: none;
  }
}
