div {
  .card {
    margin: 1rem;
    background-color: var(--color-card-blue);
    list-style-type: none;
  }
  .card-header {

  }
  .card-body {

  }
  .card-img-avatar {
    width: 30%;
  }
  .card-img-type {
    width: 10%;
    position: absolute;
    right: 20%;
  }
  .card-img-priority {
    width: 10%;
    position: absolute;
    right: 5%;
  }
  .card-img-subtask {
    width: 10%;
    position: absolute;
    right: 5%;
    bottom: 5%;
  }
  span.card-text {
    color: var(--color-white);
  }
  .filter-img-avatar {
    margin: 0.5rem;
    @media (max-width: 767px) {
      width: 10%;
    }
    @media (min-width: 768px) {
      width: 5%;
    }
  }
}

// Desktop Swimmlanes auch aussen
@media (min-width: 1260px) {
  #swimmlane-open, #swimmlane-inwork, #swimmlane-intest, #swimmlane-done {
    border-right: ridge var(--color-black);
  }
  #swimmlane-open {
    border-left: ridge var(--color-black);
  }
}

// bis iPad Pro keine äusseren Swimmlanes
@media (max-width: 1259px) {
  #swimmlane-open, #swimmlane-inwork, #swimmlane-intest {
    border-right: ridge var(--color-black);
  }
}

// für Mobile keine Swimmlanes
@media (max-width: 767px) {
  #swimmlane-open, #swimmlane-inwork, #swimmlane-intest {
    border-right: none;
  }
}

// floating icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  color: var(--color-menu-orange);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';

  // Desktop
  @media (min-width: 1260px) {
    font-size: 4em;
  }
  // bis iPad Pro
  @media (max-width: 1259px) {
    font-size: 3em;
  }
}

#menu, #new {
  position: fixed;
  z-index: +1; /* immer im Vordergrund */
}
#new:hover {
  cursor: pointer;
}
#menu {
  right: 5px;
  @media (min-width: 768px) {
    top: 80px;
  }
  @media (max-width: 767px) {
    top: 140px;
  }
}
#new {
  right: 5px;
  @media (min-width: 768px) {
    top: 130px;
  }
  @media (max-width: 767px) {
    top: 190px;
  }
}




