<div class="container">
	<h1>
		{{'app.sprint-backlog' | translate}}
	</h1>

	<div class="filter-avatar">
		<img class="filter-img-avatar"
		     *ngFor="let filterAssignee of getInvolvedAssignees()"
		     appHighlight
		     src="{{getAvatar(filterAssignee)}}"
		     (click)="setAssigneeFilter(filterAssignee)"
		     alt="filter of assignees">
	</div>

	<div class="container">
		<button id="createTask"
		        type="submit"
		        class="btn btn-light"
		        routerLink="/issue-board/">
			{{"sprint-backlog.createTask" | translate}}
		</button>
	</div>

	<div class="row">
		<div *ngFor="let state of states" id="{{'swimmlane-' + state.value}}" class="col-sm-3" [dragula]='"bag-items"'>
			<h3>
				{{'issue-board.state.' + state.value | translate}}
			</h3>
			<div class="card"
			     *ngFor="let issue of getIssues(state.value)" id="{{issue.id}}"
			     routerLink="/issue-board/{{issue.id}}" routerLinkActive="active">
				<div class="card-header">
					<img class="card-img-avatar" src="{{getAvatar(issue.assigneeId)}}" alt="avatar">
					<img class="card-img-type" src="{{issue.type.imageSrc}}" alt="type">
					<img class="card-img-priority" src="{{issue.priority.imageSrc}}" alt="priority">
				</div>

				<div class="card-body">
					<span class="card-text">{{issue.title}}</span><br>
					<img class="card-img-subtask"
					     *ngIf="hasSubtask(issue) && !isSubtaskFilterAcitve"
					     src="{{'http://localhost:4200/assets/pics/issue-subissues/more.png'}}"
					     alt="more">
					<img class="card-img-subtask"
					     *ngIf="isSubtaskFilterAcitve"
					     src="{{'http://localhost:4200/assets/pics/issue-subissues/more.png'}}"
					     alt="more">
				</div>

			</div>
		</div>
	</div>
</div>
