<div class="container">
  <h1>
    {{'app.sprint-backlog' | translate}}
  </h1>
  <div class="container">
    <button id="createTask"
            type="submit"
            class="btn btn-light"
            routerLink="/issue-board/">
      {{"sprint-backlog.createTask" | translate}}
    </button>
  </div>

  <div class="row">
    <div *ngFor="let state of states" id="{{'swimmlane-' + state.label}}" class="col-sm-3" [dragula]='"bag-items"'>
      <h3>
        {{'issue-board.state.' + state.label | translate}}
      </h3>
      <div class="card"
           *ngFor="let issue of getIssues(state.state)" id="{{issue.id}}"
           routerLink="/issue-board/{{issue.id}}" routerLinkActive="active">

        <div class="card-header">
          <img class="card-img-avatar" src="{{getAvatar(issue.assigneeId)}}" alt="avatar">
            <img class="card-img-type" src="{{getTaskType(issue.type)}}" alt="type">
            <img class="card-img-priority" src="{{getTaskPriority(issue.priority)}}" alt="priority">
        </div>

        <div class="card-body">
          <span class="card-text">{{issue.title}}</span><br>
          <i class="material-icons"
             *ngIf="hasSubtask(issue) && !isSubtaskFilterAcitve">arrow_forward_ios</i>
          <i class="material-icons"
             *ngIf="isSubtaskFilterAcitve">arrow_back_ios</i>
        </div>

      </div>
    </div>
  </div>
</div>
