<div class="container" (click)="disableContextMenu()">
	<h1>
		{{'app.sprint-backlog' | translate}}
	</h1>

	<div class="filter-avatar">
		<img class="filter-img-avatar"
         *ngFor="let filterAssignee of getInvolvedAssignees()"
		     appHighlight
		     src="{{getAvatar(filterAssignee)}}"
		     (click)="setAssigneeFilter(filterAssignee)"
		     alt="filter of assignees">
	</div>

	<div class="row">
		<div *ngFor="let state of states" id="{{'swimmlane-' + state.value}}" class="col-sm-3" [dragula]='"bag-items"'>
			<h3>
				{{'issue-board.state.' + state.value | translate}}
			</h3>
			<div [ngClass]="issue.highlighting ? 'card-highlighted' : 'card'"
			     *ngFor="let issue of getIssues(state)" id="{{issue.id}}"
			     routerLink="/issue-board/{{issue.id}}" routerLinkActive="active"
           (contextmenu)="onrightClick($event, issue)">
				<div class="card-header">
					<img class="card-img-avatar" src="{{getAvatar(issue.assigneeId)}}" alt="avatar">
					<img class="card-img-type" src="{{issue.type.imageSrc}}" alt="type">
					<img class="card-img-priority" src="{{issue.priority.imageSrc}}" alt="priority">
				</div>

				<div class="card-body">
					<span class="card-text">{{issue.title}}</span><br>
					<img class="card-img-subtask"
					     *ngIf="hasSubtask(issue) && !isSubtaskFilterAcitve"
					     src="{{'http://localhost:4200/assets/pics/issue-subtasks/more.png'}}"
					     alt="more">
					<img class="card-img-subtask"
					     *ngIf="isSubtaskFilterAcitve"
					     src="{{'http://localhost:4200/assets/pics/issue-subtasks/more.png'}}"
					     alt="more">
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="contextmenu.visible">
  <app-context-menu [x]="contextmenu.posX" [y]="contextmenu.posY" [actions]="contextmenu.actions" (action)="onAction($event)"></app-context-menu>
</div>
