<div class="container">
  <div class="container">
    <h1>
      {{'app.product-backlog' | translate}}
    </h1>
    <form>
      <div class="row">
        <div class="form-group col-md-6">
          <div class="input-group-prepend sm-6">
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="sprintBackward()"><</button>
            <div class="input-group-append">
              <select name="sprintSelect" class="form-control form-control-sm" (change)="changeSprint($event.target.value)" [(ngModel)]="selectedSprint">
                <option value="default">{{'product-backlog.sprint.placeholder' | translate}}</option>
                <option *ngFor="let sprint of sprints" value="{{sprint.id}}">
                  {{sprint.name}} ({{sprint.begin | date:"dd.MM.yyyy"}} - {{sprint.end | date:"dd.MM.yyyy"}})
                </option>
              </select>
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="sprintForward()">></button>
            </div>
          </div>
        </div>

        <div *ngIf="selectedSprint === 'default' && issues.length > 0" align="right" class="form-group col-md-6">
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="changeCustomSort()">
            {{'CustomSort'}}
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm" (click)="changeSprint(nextSprint?.id)">
            {{nextSprint?.name}} {{'product-backlog.estimated' | translate}}:
            <span class="badge badge-primary">{{nextIssuesEstimated}}</span>
          </button>
        </div>

      </div>
    </form>
  </div>
  <app-filter-table [items]="issues" [tableColumns]="tableColumns" [customSort]="customSort" [isBacklog]="selectedSprint === 'default'"></app-filter-table>
</div>
