div.card {
  margin: 1rem;
  background-color: var(--color-card-blue);
  list-style-type:none;
}
img.card-img-top {
  margin: 1rem;
  width: 20%;
}
span.card-text {
  color: var(--color-white);
}

#swimmlane-open, #swimmlane-inwork, #swimmlane-intest, #swimmlane-done {
  border-right: ridge var(--color-black);
}
#swimmlane-open {
  border-left: ridge var(--color-black);
}
