div.card {
  width: 16rem;
  height: 9rem;
  margin-bottom: 1rem;
  background-color: var(--color-card-blue);
  list-style-type:none;
}
img.card-img-top {
  position: absolute;
  left: 65%;
  margin: 1rem;
  width: 4rem;
}
a.card-text {
  color: var(--color-white);
}
