<div (contextmenu)="onrightClick($event)" (click)="closeContextMenu()">
  <div class="container">

    <nav>
      <div class="nav nav-tabs" id="nav-tab">
        <a class="nav-item nav-link" routerLink="/sprint-backlog" routerLinkActive="active">{{'app.sprint-backlog' | translate}}</a>
        <a class="nav-item nav-link" routerLink="/issue-board" routerLinkActive="active">{{'app.issue-board' | translate}}</a>
        <a class="nav-item nav-link" routerLink="/product-backlog" routerLinkActive="active">{{'app.product-backlog' | translate}}</a>
        <a class="nav-item nav-link" routerLink="/chart-board" routerLinkActive="active">{{'app.chart-board' | translate}}</a>
        <div class="nav-item nav-link">
          <button id="loadTestData" type="button" class="btn btn-danger btn-sm"name="loadTestData"(click)="loadTestData()">{{'app.loadTestData' | translate}}</button>
          <button id="de_active" type="button" *ngIf="lang === 'de'" class="btn btn-dark btn-sm" name="de_active" (click)="switchLang('de')">DE</button>
          <button id="de_inactive" type="button" *ngIf="lang !== 'de'" class="btn btn-outline-dark btn-sm" name="de_inactive" (click)="switchLang('de')">DE</button>
          <button id="en_active" type="button" *ngIf="lang === 'en'" class="btn btn-dark btn-sm" name="en_active" (click)="switchLang('en')">EN</button>
          <button id="en_inactive" type="button" *ngIf="lang !== 'en'" class="btn btn-outline-dark btn-sm" name="en_inactive" (click)="switchLang('en')">EN</button>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="contextmenu.visible">
    <app-context-menu [contextmenu]="contextmenu"></app-context-menu>
  </div>
</div>
