<button id="de" name="de" (click)="switchLang('de')">DE</button>
<button id="en" name="en" (click)="switchLang('en')">EN</button>
<br/>
<nav>
  <a routerLink="/sprint-backlog" routerLinkActive="active">Spring-Backlog</a><span> | </span>
  <a routerLink="/issue-board" routerLinkActive="active">Issue-Board</a><span> | </span>
  <a routerLink="/product-backlog" routerLinkActive="active">Product-Backlog</a><span> | </span>
  <a routerLink="/burndown-chart" routerLinkActive="active">Burndown-Chart</a>
</nav>
<router-outlet></router-outlet>

