<div class="modal-header">
  <h4 class="modal-title">
    {{'new-issue-link.title' | translate}}
  </h4>
</div>

<div class="container">
  <form #modalForm="ngForm">

    <div class="row">
      <div class="form-group col-sm-6">
        <label id="issueLinkTypeLabel" for="issueLinkType">{{'new-issue-link.type' | translate}}</label>
        <select id="issueLinkType" class="form-control" name="issueLinkType" [(ngModel)]="issueLinkTypeString" required>
          <option *ngFor="let issueLinkType of issueLinkTypes" value="{{issueLinkType.type}}">{{('new-issue-link.type.' +
            issueLinkType.type) | translate}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label id="issueLabel" for="issue">{{'new-issue-link.issue' | translate}}</label>
        <select id="issue" class="form-control" name="issue" [(ngModel)]="relatedIssueId" required>
          <option *ngFor="let issue of issues" value="{{issue.id}}">{{issue.title}}
          </option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          (click)="save()"
          [disabled]="!modalForm.form.valid">
    {{'new-issue-link.save' | translate }}
  </button>
  <button type="button"
          class="btn btn-light"
          (click)="cancel()">
    {{'new-issue-link.cancel' | translate }}
  </button>
</div>
