<div class="container">

	<div class="row">
		<div class="col-md-6">
			<label id="sprintLabel" for="sprintInput">{{'burndown-chart.selectsprint' | translate }}</label>
			<select id="sprintInput"
			        class="form-control"
			        name="sprint"
			        [(ngModel)]="sprintSelectedId"
			        (change)="renderChart()">
				<option *ngFor="let sprint of sprintService.getAllWithoutSprintInTheFuture()" [ngValue]="sprint.id">
					{{sprint | sprintLabel}}
				</option>
			</select>
		</div>
	</div>
	<div class="row" *ngIf="sprintSelected">
		<div class="col-md-6">
			<div style="display: block;">
				<canvas baseChart width="400" height="400"
				        [datasets]="lineChartData"
				        [labels]="lineChartLabels"
				        [options]="lineChartOptions"
				        [colors]="lineChartColors"
				        [legend]="lineChartLegend"
				        [chartType]="lineChartType"
				        (chartHover)="chartHovered($event)"
				        (chartClick)="chartClicked($event)"></canvas>
			</div>
		</div>
	</div>

</div>
