<div class="container">
  <h1>
    {{'app.product-backlog' | translate}}
  </h1>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">{{'product-backlog.row' | translate}}</th>
        <th scope="col">{{'issue-board.type' | translate}}</th>
        <th scope="col">{{'issue-board.title' | translate}}</th>
        <th scope="col">{{'issue-board.priority' | translate}}</th>
        <th scope="col">{{'issue-board.estimated' | translate}}</th>
      </tr>
    </thead>
    <tfoot>
      <th scope="col">{{'product-backlog.sum' | translate}}</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tfoot>
    <tbody>
      <tr *ngFor="let issue of issueService.getAllWithoutSprintAssignment(); let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{issue.type}}</td>
        <td>{{issue.title}}</td>
        <td>{{issue.priority}}</td>
        <td>{{issue.estimated}}</td>
      </tr>
    </tbody>
  </table>

</div>
