/*constants*/
:root {
  --color-white: white;
  --color-black: black;
  --color-validation-green: #42A948;
  --color-validation-red: #c82333;
  --color-card-blue: #219be6;
  --color-menu-orange: #E69321;
}


/*styles*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid var(--color-validation-green);
}

.ng-invalid:not(form)  {
  border-left: 5px solid var(--color-validation-red);
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}
