<div *ngIf="!smallScreen" class="container">
  <div class="table-responsive-sm">
    <table class="table table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">{{'product-backlog.row' | translate}}</th>
        <th class="sorting" *ngFor="let column of tableColumns" scope="col" (click)="sortItems(column)">{{'product-backlog.'+ column
          | translate}}
          <i class="material-icons" *ngIf="customSort && orderType === column && sortAscending">arrow_drop_up</i>
          <i class="material-icons" *ngIf="customSort && orderType === column && !sortAscending">arrow_drop_down</i>
        </th>
      </tr>
      </thead>
      <tr class="table-light">
        <td></td>
        <td>
          <select name="sprintSelect" class="form-control form-control-sm" (change)="filterItems()" [(ngModel)]="filter[0].value">
            <option *ngFor="let type of filterTypes" value="{{type.value}}">{{'product-backlog.filter.type.'+type.name |
              translate}}
            </option>
          </select>
        </td>
        <td>
          <div class="input-group input-group-sm">
            <input [(ngModel)]="filter[1].value"
                   (keyup)="filterItems()"
                   type="text"
                   class="form-control"
                   placeholder="{{'product-backlog.filter' | translate}}">
            <div class="input-group-append">
              <button [disabled]="!filter[1].value"
                      class="btn btn-outline-secondary"
                      type="button"
                      id="filterButton1"
                      (click)="filter[1].value = ''; filterItems()">X
              </button>
            </div>
          </div>
        </td>
        <td>
          <select name="sprintSelect" class="form-control form-control-sm" (change)="filterItems()" [(ngModel)]="filter[2].value">
            <option *ngFor="let prio of filterPriorities" value="{{prio.value}}">{{'product-backlog.filter.prio.'+prio.name |
              translate}}
            </option>
          </select>
        </td>
        <td>
          <div class="input-group input-group-sm">
            <input [(ngModel)]="filter[3].value"
                   (keyup)="filterItems()"
                   type="text"
                   class="form-control"
                   placeholder="{{'product-backlog.filter' | translate}}">
            <div class="input-group-append">
              <button [disabled]="!filter[3].value"
                      class="btn btn-outline-secondary"
                      type="button"
                      id="filterButton2"
                      (click)="filter[3].value = ''; filterItems()">X
              </button>
            </div>
          </div>
        </td>
      </tr>
      <tbody [dragula]='"backlog-issues"'>
        <tr *ngFor="let item of filteredItems; let i = index"
            (contextmenu)="onrightClick($event, item)"
            routerLink="/issue-board/{{item.id}}"
            id="{{item.id}}"
            [ngClass]="dndClass()">
          <th scope="row">{{item.backlogPriority}}</th>
          <td align="center"><img width="20" src="{{item.type.imageSrc}}" alt="{{item.type.id}}"></td>
          <td>{{item.title}}</td>
          <td align="center"><img width="15" src="{{item.priority.imageSrc}}" alt="{{item.priority.id}}"></td>
          <td>{{item.estimated}}</td>
        </tr>
      </tbody>
      <tfoot class="table-secondary">
      <tr>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<div *ngIf="smallScreen" class="container">

  <h5> Filter </h5>

  <select name="sprintSelect" class="form-control form-control-sm" (change)="filterItems()" [(ngModel)]="filter[0].value">
    <option *ngFor="let type of filterTypes" value="{{type.value}}">{{'product-backlog.filter.type.'+type.name | translate}}
    </option>
  </select>
  <br>
  <select name="sprintSelect" class="form-control form-control-sm" (change)="filterItems()" [(ngModel)]="filter[2].value">
    <option *ngFor="let prio of filterPriorities" value="{{prio.value}}">{{'product-backlog.filter.prio.'+prio.name | translate}}
    </option>
  </select>
  <br>

  <div class="input-group input-group-sm">
    <input [(ngModel)]="filter[1].value"
           (keyup)="filterItems()"
           type="text"
           class="form-control"
           placeholder="{{'product-backlog.filter' | translate}}">
    <div class="input-group-append">
      <button [disabled]="!filter[1].value"
              class="btn btn-outline-secondary"
              type="button"
              id="filterButton3"
              (click)="filter[1].value = ''; filterItems()">X
      </button>
    </div>
  </div>
  <br>
  <div class="table-responsive-sm">
    <table class="table table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col" (click)="sortItems(tableColumns[1])">{{'product-backlog.'+ tableColumns[1] | translate}}
          <i class="material-icons" *ngIf="orderType === tableColumns[1] && sortAscending">arrow_drop_up</i>
          <i class="material-icons" *ngIf="orderType === tableColumns[1] && !sortAscending">arrow_drop_down</i>
        </th>
      </tr>
      </thead>
      <tbody [dragula]='"backlog-issues"'>
      <tr *ngFor="let item of filteredItems" (contextmenu)="onrightClick($event, item)" routerLink="/issue-board/{{item.id}}"
          [ngClass]="dndClass()">
        <td>{{item[filter[1].key]}}</td>
      </tr>
      </tbody>
      <tfoot class="table-secondary">
      <tr>
        <th scope="col"></th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
