<div class="container">
  <h1>
    {{'app.issue-board' | translate}} Reactive Form
  </h1>

  <!--<form (ngSubmit)="onSave()" #issueForm="ngForm" novalidate>-->
  <form [formGroup]="theForm" (ngSubmit)="theForm.valid && onSave(theForm.value)">
    <div class="row">
      <div class="form-group col-md-6">
        <label id="titleLabel" for="title">{{'issue-board.title' | translate }}</label>
        <input id="title"
               class="form-control"
               type="text"
               placeholder="{{'issue-board.title.placeholder' | translate }}"
               formControlName="title"
        >
                    <!--TODO sbs interpolation of params. e.g. number of char-->
        <div *ngIf="title.invalid && (title.dirty || title.touched)"
             class="alert alert-danger">
          <small *ngIf="title.errors.required">
            {{'commons.validation.field.required' | translate}}
          </small>
          <small *ngIf="title.errors.minlength">
            {{'commons.validation.field.minlength' | translate}}
          </small>
          <small *ngIf="title.errors.maxlength">
            {{'commons.validation.field.maxlength' | translate}}
          </small>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label id="sprintLabel" for="sprint">{{'issue-board.sprint' | translate }}</label>
        <select id="sprint"
                class="form-control"
                formControlName="sprint"
                [disabled]="issueService.isMutationIssueAllowed(currentIssue)">
          <option value="" disabled selected>{{'issue-board.sprint.placeholder' | translate}}</option>
          <option *ngFor="let sprint of sprintService.getAll()" [ngValue]="sprint.id">
            {{sprint.name}} ({{sprint.begin | date:"dd.MM.yyyy"}} - {{sprint.end | date:"dd.MM.yyyy"}})
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label id="descriptionLabel" for="description">{{'issue-board.description' | translate }}</label>
        <textarea id="description"
                  class="form-control"
                  type="text"
                  placeholder="{{'issue-board.description.placeholder' | translate }}"
                  rows="3"
                  formControlName="description"
        ></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)"
             class="alert alert-danger">
          <small *ngIf="description.errors.required">
            {{'commons.validation.field.required' | translate}}
          </small>
          <small *ngIf="description.errors.maxlength">
            {{'commons.validation.field.maxlength' | translate}}
          </small>
        </div>
        <small id="descriptionHelp"
               class="form-text text-muted">{{'issue-board.description.help' | translate }}
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <label id="typeLabel" for="type">{{'issue-board.type' | translate}}</label>
        <!--<select id="type"-->
                <!--class="form-control"-->
                <!--formControlName="type"-->
        <!--&gt;-->
          <!--<option value="" disabled selected>{{'issue-board.type.placeholder' | translate}}</option>-->
          <!--<option value="{{issueTypes.story}}">{{'issue-board.type.story' | translate}}</option>-->
          <!--<option value="{{issueTypes.bug}}">{{'issue-board.type.bug' | translate}}</option>-->
          <!--<option value="{{issueTypes.task}}">{{'issue-board.type.task' | translate}}</option>-->
        <!--</select>-->
        <fieldset>
          <div *ngFor="let issueType of issueTypes">
            <input value="{{issueType.id}}" id="type1-{{issueType.id}}" class="form-control" type="radio" name="type"
                   formControlName="type" checked="{{issueType.id === currentIssue.type ? 'checked' : ''}}"/>
            <label class="es-radio" for="type1-{{issueType.id}}">
              <img src="{{issueType.imageSrc}}" width="15px">
              Bug
            </label>

            <!--<label>-->
              <!--<img src="{{issueType.imageSrc}}">-->
              <!--{{issueType.value}}-->
            <!--</label>-->
            <!--<input type="radio" value="{{issueType.id}}" id="type1-{{issueType.id}}" class="form-control"-->
                   <!--formControlName="type" checked="{{issueType.id === currentIssue.type ? 'checked' : ''}}">-->
          </div>
        </fieldset>
      </div>

      <!--<div class="form-group col-md-6">-->
        <!--<label id="assigneeLabel" for="assigneeInput">{{'issue-board.assignee' | translate }}</label>-->
        <!--<select id="assigneeInput"-->
                <!--class="form-control"-->
                <!--name="assignee"-->
                <!--[(ngModel)]="currentIssue.assigneeId">-->
          <!--<option value="" disabled selected>{{'issue-board.assignee.placeholder' | translate}}</option>-->
          <!--<option *ngFor="let assignee of assigneeService.getAll()" [ngValue]="assignee.id">-->
            <!--{{assignee.nickname}}-->
          <!--</option>-->
        <!--</select>-->
      <!--</div>-->
    </div>

    <button type="button"
            class="btn btn-primary"
            (click)="onSave()"
            [disabled]="!theForm.valid">
            {{'issue-board.buttonSave' | translate }}
    </button>
    <button type="button"
            class="btn btn-light"
            routerLink="/sprint-backlog/"
            (click)="onCancel()">
            {{'issue-board.buttonCancel' | translate }}
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="onDelete()"
            routerLink="/sprint-backlog/"
            [hidden]="!issueService.isDeletionIssueAllowed(currentIssue)">
      {{'issue-board.buttonDelete' | translate }}
    </button>
  </form>

</div>
