.es-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.es-radio, .es-selector input:active +.es-radio{opacity: .9;}
.es-radio, .es-selector input:checked +.es-radio{
  filter: none;
}

.es-radio{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  transition: all 100ms ease-in;
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.es-radio:hover{
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}
